<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Student Directory</title>
</head>
<body>
<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>Student ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${listStudents}">
        <td th:text="${student.getID()}">Student ID</td>
        <td th:text="${student.getName()}">Name</td>
        <td th:text="${student.getEmail()}">Email</td>
    </tr>
    </tbody>
</table>
</body>
</html>