<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>College Directory Student Manager</title>
</head>
<body>
<div align="center">
    <h1>Welcome to the University's Directory Database</h1>
    <br/>
    <div>
        <a href="/dept">View Departments</a><br/>
        <a href="/all">View Student Directory</a><br/>
        <a href="/profs">View Professor Directory</a>
    </div>
    <br/><br/>
    <div>
        <h2>Instructions</h2>
        <p>Copy paste the URL given for each functionality, including your input as a parameter wherever you see {}.</p>
    </div><br/>
    <div>
        <h2>Is my professor tough or not?</h2>
        <p>Search a professor's average grade! - http://localhost:8080/toughOrNot/{professor_id}</p>
    </div><br/>
    <div>
        <h2>Which sponsors do I as a student have available?</h2>
        <p>Get a table with your sponsors here! - http://localhost:8080/sponsors/{student_id}</p>
    </div><br/>
    <div>
        <h2>I am a mentor! Who are my mentees?</h2>
        <p>As a professor, you can get a table with your student mentees here! - http://localhost:8080/mentees/{professor_id} </p>
    </div>
</div>
</body>
</html>