<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>College Directory Student Manager</title>
</head>
<body>
<div align="center">
    <h1>Welcome to the University's Directory Database</h1>
    <div align="left">
        <a href="/dept">View Departments</a>
        <a href="/all">View Student Directory</a>
    </div>
    <br/><br/>
    <div>
        <h2>For Students:</h2>
        <p>Search a professor's average grade by typing in http://localhost:8080/toughOrNot/{professor_id}</p>
        <p>Insert professor ID above, and paste the URL in your browser to get customized results!</p>
    </div>
</div>
</body>
</html>