<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <title>Professors</title>
</head>
<body>
<div>
<div align="center">
    <h1>Professor List</h1>
    <a href="/">Return Home</a>
</div>
    <br/><br/>
    <table class="table-bordered" border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Professor ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prof : ${listProfs}">
            <td th:text="${prof.getId()}">Student ID</td>
            <td th:text="${prof.getName()}">Name</td>
            <td th:text="${prof.getEmail()}">Email</td>
        </tr>
        </tbody>
    </table>
</body>
</html>